@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #272727;
}

.lato {
    font-family: "Lato", sans-serif;
}

section {
    margin-bottom: 128px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}

.hero-title {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 32px;
    color: var(--dark-color);
}

.discribtion {
    font-size: 18px;
    line-height: 30px;
    max-width: 634px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.6);
}

.btn {
    font-size: 20px;
    color: white;
    padding: 20px 43px;
    border: none;
    background-color: #E55473;
    border-radius: 8px;
    font-weight: bold;
}

.hero-img img {
    width: 100%;
    filter: drop-shadow(0px 0px 10px #00000040);
    vertical-align: middle;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 50px auto;
    border: 2px solid red;
    gap: 97px;
}

/* .feature-container{
    text-align: center;
} */

.section-header {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}

.feature-discribtion {
    text-align: center;
    /* border: 2px solid red; */
    margin: 0px auto 48px;
}

.card-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid rebeccapurple */
}

.card-img {
    /* border: 2px solid red; */
    width: 450px;
    padding: 110px 78px 0px;
    border-radius: 20rem 20rem 0 0;
    margin-bottom: 32px;
    box-shadow: 0px 0px 10px #00000040;
    height: 32.5rem;
}

.card-img img {
    width: 100%;
    filter: drop-shadow(0px 0px 5px #00000040);
    vertical-align: middle;
    height: 100%;
}

.pink-box {
    background-color: rgba(167, 33, 98, 0.15);
}

.blue-box {
    background-color: rgba(5, 151, 160, 0.15);
}

#blue-box-img {
    height: 70%;
}

.green-box {
    background-color: rgba(71, 125, 17, 0.15);
}

.card-txt {
    font-size: 24px;
    line-height: 35px;
    color: #272727;
    font-weight: bold;
}

.greeting {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 86px;
    box-shadow: 0px 0px 20px #00000040;
}

.greeting-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.greeting-card h2 {
    font-size: 24px;
    margin-top: 24px;
    font-weight: 35px;
}

.sale-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* border: 2px solid red; */
}

.pink{
    color: #E55473;
}

.social-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.social-card img{
    width: 100%;
}











@media screen and (max-width: 576px) {
    .hero-container {
        flex-direction: column;
        gap: 40px;
    }

    .hero-title {
        font-size: 3rem;
    }

    .card-container {
        flex-direction: column;
    }

    .greeting {
        flex-direction: column;
    }

    .sale-container{
        flex-direction: column;
        gap: 20px;
    }

    .social-card{
        grid-template-columns: repeat(1, 1fr);
    }

}